<div class="backdrop"></div>
<dialog open>

    <h2>Contact Us</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
            <label for="name">Name</label>
            <input type="text" formControlName="name" />

            @if (name.touched && name.invalid) {

            @if (name.hasError('required')) {
        <div class="error">שדה חובה</div>
        }

        @if (name.hasError('maxlength')) {
        <div class="error">השם יכול להכיל עד 18 תווים בלבד</div>
        }

        }
        </p>

        <p>
            <label for="email">Email</label>
            <input type="email" formControlName="email" />

            @if (email.touched && email.invalid) {

            @if (email.hasError('required')) {
                <div class="error">שדה חובה</div>
            }

            @if (email.hasError('email')) {
                <div class="error">כתובת אימייל לא תקינה</div>
            }

        }
        </p>


        <p>
            <label for="subject">Subject</label>
            <input type="text" formControlName="subject" />

            @if (subject.touched && subject.invalid) {

            @if (subject.hasError('maxlength')) {
        <div class="error">הנושא יכול להכיל עד 50 תווים בלבד</div>
        }

        }
        </p>

        <p>
            <label for="message">Message</label>
            <input type="text" formControlName="message" />
        </p>

        <p class="actions">
            <button (click)="Cancel()" type="button">Cancel</button>
            <button type="submit">Send</button>
        </p>
    </form>

</dialog>